# Python cache files
__pycache__/
*.pyc
*.so
.Python
env/
build/
develop-eggs/
dist/
eggs/
*.egg-info/

# Flask instance folder
instance/

# Environment variables
.env
.env.production

# Mac system files
.DS_Store
.DS_Store?

# PyCharm files
.idea/
*.iml

# SSL certificates
*.pem
key.pem
cert.pem

# Virtual Environment
venv/
ENV/

